.logo {
  font-family: "Dela Gothic One", cursive;
  color: rgb(255, 255, 255);
}

.font-bold {
  font-family: "Dela Gothic One", cursive;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000000;
}

.fa-times:hover {
  color: red;
}
